<div class="tasks">
  <h2>Список задач</h2>
  <div class="tasks__actions">
    <button pButton label="Добавить" icon="pi pi-plus" (click)="openCreate()"></button>
  </div>
  <div class="tasks__table-wrapper">
    <p-table
      dataKey="id"
      [value]="tasks()"
      styleClass="tasks__table"
    >
    <ng-template pTemplate="header">
      <tr>
        <th class="tasks__col tasks__col--checkbox"></th>
        <th>ID</th>
        <th>Название</th>
        <th class="tasks__col tasks__col--status">Статус</th>
        <th class="tasks__col tasks__col--actions">Действия</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-row
    >
      <tr>
        <td>
          <p-checkbox
            [binary]="true"
            [(ngModel)]="row.completed"
            (onChange)="toggle(row)"
          ></p-checkbox>
        </td>
        <td>{{ row.id }}</td>
        <td>{{ row.title }}</td>
        <td>
          @if(row.completed) {
            выполнено
          } @else {
            не выполнено
          }
        </td>
        <td>
          <button
            pButton
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [text]="true"
            aria-label="Удалить"
            (click)="remove(row)"
          ></button>
        </td>
      </tr>
    </ng-template>
    </p-table>
  </div>

  <app-create-task-dialog
    [visible]="isCreateOpen()"
    (visibleChange)="isCreateOpen.set($event)"
    (submit)="newTitle.set($event); create()"
  />
</div>
